

@font-face {
    font-family: 'UbuntuMono';
    src: url('../../assets/UbuntuMono-Regular.woff2') format('woff2');  
}

@font-face {
    font-family: Inter var;
    src: url('../../assets/inter-v8-latin-regular.woff2') format('woff2');  
}

@font-face {
    font-family: Fira Code VF;
    src: url('../../assets/fira-code-v17-latin-regular.woff2') format('woff2');  
}